<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<head>
    <title>DESIGN HUB- shared on themelock.com</title>
    <!--meta-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.2" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="Construction, Renovation" />
    <meta name="description" content="Responsive Construction Renovation Template" />
    <!--slider revolution-->
    <link rel="stylesheet" type="text/css" href="/Content/rs-plugin/css/settings.css" media="screen" />
    <!--style-->
    <link href='//fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/Content/style/reset.css">
    <link rel="stylesheet" type="text/css" href="/Content/style/superfish.css">
    <link rel="stylesheet" type="text/css" href="/Content/style/prettyPhoto.css">
    <link rel="stylesheet" type="text/css" href="/Content/style/jquery.qtip.css">
    <link rel="stylesheet" type="text/css" href="/Content/style/style.css">
    <link rel="stylesheet" type="text/css" href="/Content/style/animations.css">
    <link rel="stylesheet" type="text/css" href="/Content/style/responsive.css">
    <link rel="stylesheet" type="text/css" href="/Content/style/odometer-theme-default.css">
    <!--fonts-->
    <link rel="stylesheet" type="text/css" href="/Content/fonts/streamline-small/styles.css">
    <link rel="stylesheet" type="text/css" href="/Content/fonts/streamline-large/styles.css">
    <link rel="stylesheet" type="text/css" href="/Content/fonts/template/styles.css">
    <link rel="stylesheet" type="text/css" href="/Content/fonts/social/styles.css">
    <link rel="shortcut icon" href="/Content/images/favicon.ico">
</head>
<body>
    <div class="site-container">
        <div class="header-top-bar-container clearfix">
            <div class="header-top-bar">
                <ul class="contact-details clearfix">
                    <li class="template-phone">
                        0322-5968010
                    </li>
                    <li class="template-mail">
                         neelamshahid14@gmail.com
                    </li>
                    <li class="template-clock">
                        Mon - Fri: 8:00am-8:00pm
                    </li>
                </ul>
                </br>
               


                       <div class="search-container">
                        <a class="template-search" href="#" title="Search"></a>
                        <form class="search" action="search.html">
                            <input type="text" name="s" placeholder="Search..." value="Search..." class="search-input hint">
                            <fieldset class="search-submit-container">
                                <span class="template-search"></span>
                                <input type="submit" class="search-submit" value="">
                            </fieldset>
                        </form>
                    </div>
                    <ul class="social-icons">
                        <li>
                            <a target="_blank" href="http://facebook.com/QuanticaLabs" class="social-facebook" title="facebook"></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://twitter.com/QuanticaLabs" class="social-twitter" title="twitter"></a>
                        </li>
                        <li>
                            <a href="https://pinterest.com/quanticalabs/" class="social-pinterest" title="pinterest"></a>
                        </li>
                        <!--<li>
                <a title="" href="http://themeforest.net/user/QuanticaLabs?ref=QuanticaLabs" class="social-google-plus"></a>
            </li>
            <li>
                <a title="" href="http://themeforest.net/user/QuanticaLabs?ref=QuanticaLabs" class="social-youtube"></a>
            </li>
            <li>
                <a title="" href="http://themeforest.net/user/QuanticaLabs?ref=QuanticaLabs" class="social-linkedin"></a>
            </li>
            <li>
                <a title="" href="http://themeforest.net/user/QuanticaLabs?ref=QuanticaLabs" class="social-pinterest"></a>
            </li>
            <li>
                <a title="" href="http://themeforest.net/user/QuanticaLabs?ref=QuanticaLabs" class="social-dribble"></a>
            </li>
            <li>
                <a title="" href="http://themeforest.net/user/QuanticaLabs?ref=QuanticaLabs" class="social-skype"></a>
            </li>
            <li>
                <a title="" href="http://themeforest.net/user/QuanticaLabs?ref=QuanticaLabs" class="social-tumblr"></a>
            </li>
            <li>
                <a title="" href="http://themeforest.net/user/QuanticaLabs?ref=QuanticaLabs" class="social-instagram"></a>
            </li>
            <li>
                <a title="" href="http://themeforest.net/user/QuanticaLabs?ref=QuanticaLabs" class="social-xing"></a>
            </li>
            <li>
                <a title="" href="http://themeforest.net/user/QuanticaLabs?ref=QuanticaLabs" class="social-foursquare"></a>
            </li>
            <li>
                <a title="" href="http://themeforest.net/user/QuanticaLabs?ref=QuanticaLabs" class="social-rss"></a>
            </li>
            <li>
                <a title="" href="http://themeforest.net/user/QuanticaLabs?ref=QuanticaLabs" class="social-behance"></a>
            </li>
            <li>
                <a title="" href="http://themeforest.net/user/QuanticaLabs?ref=QuanticaLabs" class="social-picasa"></a>
            </li>
            <li>
                <a title="" href="http://themeforest.net/user/QuanticaLabs?ref=QuanticaLabs" class="social-stumbleupon"></a>
            </li>
            <li>
                <a title="" href="http://themeforest.net/user/QuanticaLabs?ref=QuanticaLabs" class="social-vimeo"></a>
            </li>
            -->
                    </ul>
</div>
            <a href="#" class="header-toggle template-arrow-up"></a>
        </div>
        <div class="header-container">
            <!--<div class="header-container sticky">-->
            <div class="vertical-align-table column-1-1">
                <div class="header clearfix">
                    <div class="logo vertical-align-cell">
                        <h1><a href="~/Home/index" title="Renovate">DESIGN HUB</a></h1>
                    </div>
                    <a href="#" class="mobile-menu-switch vertical-align-cell">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </a>
                    <div class="menu-container clearfix vertical-align-cell">
                        <nav>
                            <ul class="sf-menu">
                                <li>
                                    <a href="../../Home/index" title="home">
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a href="../../Home/services" title="Services">
                                        SERVICES
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="../../Home/service_interior_renovation" title="Interior Renovation">
                                                Interior Designing
                                            </a>
                                        </li>
                                        <li>
                                            <a href="../../Home/service_design_build" title="Design and Build">
                                                Architectural Designs
                                            </a>
                                        </li>
                                        
                                        <li>
                                            <a href="../../Home/service_paver_walkways" title="Paver Walkways">
                                                 Landscape Designing
                                            </a>
                                        </li>
                                       
                                        <li>
                                            <a href="../../Home/service_solar_systems" title="Tiling and painting">
                                                Construction
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="../../Home/projects" title="Projects">
                                        PROJECTS
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="../../Home/project_interior_renovation" title="Interior Renovation">
                                                Interior Designing
                                            </a>
                                        </li>

                                        <li>
                                            <a href="../../Home/project_design_build" title="Design and Build">
                                                Architectural Designs
                                            </a>
                                        </li>
                                        <li>
                                            <a href="../../Home/project_garden_renovation" title="Garden Renovation">
                                                Landscape Designing
                                            </a>
                                        </li>
                                        <li>
                                            <a href="../../Home/project_painting" title="Painting">
                                                Construction
                                            </a>
                                        </li>
                                       
                                      
                                    </ul>
                                </li>
                                <li class="selected">
                                    <a href="../../Home/about" title="Pages">
                                        PAGES
                                    </a>
                                    <ul>
                                        <li class="selected">
                                            <a href="../../Home/about" title="About">
                                                About
                                            </a>
                                        </li>
                                       
                                        <li>
                                            <a href="../../Home/service_interior_renovation" title="Single Service">
                                                Single Service
                                            </a>
                                        </li>
                                        <li>
                                            <a href="../../Home/project_interior_renovation" title="Single Project">
                                                Single Project
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="../../Home/Login" title="Login">
                                        LOGIN
                                    </a>
                                    <ul>
                                        <a href="../../Home/blog_2_columns" title="Blog_2_columns">
                                            Create an account
                                        </a>
                                        
                                  

                                    
                                        <a href="../../Register/Signup" title="Signup">
                                            Register
                                        </a>


                                    </ul>

                                    
                                </li>
                                <li>
                                    <a href="../../Home/cost_calculator" title="Authors">
                                        COST CALCULATOR
                                    </a>
                                </li>
                                <li class="left-flyout">
                                    <a href="../../Home/contact" title="Contact">
                                        CONTACT
                                    </a>
                                    <ul>
                                       
                                        <li>
                                            <a href="../../Home/contact_2" title="Contact Style 2">
                                                Contact Style 2
                                            </a>
                                        </li>
                                    </ul>
                                 </li>
                                
                             
                              </ul>
                            
                        </nav>
                        <div class="mobile-menu-container">
                            <div class="mobile-menu-divider"></div>
                            <nav>
                                <ul class="mobile-menu">
                                    <li>
                                        <a href="../../Home/index" title="home">
                                            Home
                                        </a>
                                    </li>
                                    <li>
                                        <a href="../../Home/services" title="Services">
                                            SERVICES
                                        </a>
                                        <ul>
                                            <li>
                                                <a href="../../Home/service_interior_renovation" title="Interior Renovation">
                                                    Interior Designing
                                                </a>
                                            </li>
                                            <li>
                                                <a href="../../Home/service_design_build" title="Design and Build">
                                                    Architectural Designs
                                                </a>
                                            </li>
                                            <li>
                                                <a href="../../Home/service_tiling_painting" title="Design and Build">
                                                    Construction
                                                </a>
                                            </li>
                                            <li>
                                                <a href="../../Home/service_paver_walkways" title="Paver Walkways">
                                                    Landscape Designing
                                                </a>
                                            </li>
                                            <li>
                                                <a href="../../Home/service_household_repairs" title="Household Repairs">
                                                    Household Repairs
                                                </a>
                                            </li>
                                           
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="~/Home/projects" title="Projects">
                                            PROJECTS
                                        </a>
                                        <ul>
                                            <li>
                                                <a href="../../Home/project_interior_renovation" title="Interior Renovation">
                                                    Interior Designing
                                                </a>
                                            </li>
                                            <li>
                                                <a href="../../Home/project_design_build" title="Design and Build">
                                                    Architectural Designs
                                                </a>
                                            </li>
                                            <li>
                                                <a href="../../Home/project_garden_renovation" title="Garden Renovation">
                                                    Landscape Designing
                                                </a>
                                            </li>
                                            <li>
                                                <a href="../../Home/project_painting" title="Painting">
                                                    Architectural Designs
                                                </a>
                                            </li>
                                          >
                                           
                                        </ul>
                                    </li>
                                    <li class="selected">
                                        <a href="../../Home/about" title="Pages">
                                            PAGES
                                        </a>
                                        <ul>
                                            <li class="selected">
                                                <a href="../../Home/about" title="About">
                                                    About
                                                </a>
                                            </li>
                                            <li>
                                                <a href="../../Home/404" title="404 Not Found">
                                                    404 Not Found
                                                </a>
                                            </li>
                                            <li>
                                                <a href="../../Home/service_interior_renovation" title="Single Service">
                                                    Single Service
                                                </a>
                                            </li>
                                            <li>
                                                <a href="../../Home/project_interior_renovation" title="Single Project">
                                                    Single Project
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="../../Home/blog" title="Blog">
                                            LOGIN
                                        </a>
                                        <ul>
                                            <a href="../../Home/blog_2_columns" title="Blog_2_columns">
                                                Create an account
                                            </a>
                                       

                                           
                                                <a href="../../Register/Signup" title="Signup">
                                                    Register
                                                </a>


                                            </ul>



                                      
                                         
                                         
                                        
                                    </li>
                                    <li>
                                        <a href="../../Home/cost_calculator" title="Authors">
                                            COST CALCULATOR
                                        </a>
                                    </li>
                                    <li class="left-flyout">
                                        <a href="../../Home/contact" title="Contact">
                                            CONTACT
                                        </a>
                                        <ul>
                                           
                                            <li>
                                                <a href="../../Home/contact_2" title="Contact Style 2">
                                                    Contact Style 2
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                   
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </head>

        @RenderBody()

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)

        <div class="row yellow full-width padding-top-bottom-30">
            <div class="row">
                <div class="column column-1-3">
                    <ul class="contact-details-list">
                        <li class="sl-small-phone">
                            <p>
                                Phone:<br>
                                0322-5968010
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="column column-1-3">
                    <ul class="contact-details-list">
                        <li class="sl-small-location">
                            <p>
                                21 Acre Scheme<br>
                                House#74 Samanabad LHR
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="column column-1-3">
                    <ul class="contact-details-list">
                        <li class="sl-small-mail">
                            <p>
                                E-mail:<br>
                                <a href="mailto:kevin.smith@connect.com">neelamshahid14@gmail.com</a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row gray full-width page-padding-top padding-bottom-50">
            <div class="row row-4-4">
                <div class="column column-1-4">
                    <h6 class="box-header">About Us</h6>
                    <p class="description t1">Founded by Kevin Smith back in 2000. Renovate has estabilished itself as one of the greatest and prestigious providers of construction focused interior renovation services and building.</p>
                    <ul class="social-icons yellow margin-top-26">
                        <li>
                            <a target="_blank" href="http://facebook.com/QuanticaLabs" class="social-facebook" title="facebook"></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://twitter.com/QuanticaLabs" class="social-twitter" title="twitter"></a>
                        </li>
                        <li>
                            <a target="_blank" href="http://themeforest.net/user/QuanticaLabs/portfolio?ref=QuanticaLabs" class="social-linkedin" title="linkedin"></a>
                        </li>
                        <li>
                            <a href="https://pinterest.com/quanticalabs/" class="social-pinterest" title="pinterest"></a>
                        </li>
                    </ul>
                </div>
                <div class="column column-1-4">
                    <h6 class="box-header">Our Services</h6>
                    <ul class="list margin-top-20">
                        <li class="template-bullet">Interior Renovation</li>
                        <li class="template-bullet">Design and Build</li>
                        <li class="template-bullet">Tiling and Painting</li>
                        <li class="template-bullet">Paver Walkways</li>
                        <li class="template-bullet">Household Repairs</li>
                        <li class="template-bullet">Solar Systems</li>
                    </ul>
                </div>
                <div class="column column-1-4">
                    <h6 class="box-header">Categories</h6>
                    <ul class="taxonomies margin-top-30">
                        <li><a href="~/Home/category" title="BUILD">BUILD</a></li>
                        <li><a href="~/Home/category" title="DESIGN">DESIGN</a></li>
                        <li><a href="~/Home/category" title="FLOORING">FLOORING</a></li>
                        <li><a href="~/Home/category" title="PAINTING">PAINTING</a></li>
                        <li><a href="~/Home/category" title="PAVERS">PAVERS</a></li>
                        <li><a href="~/Home/category" title="PLUMBING">PLUMBING</a></li>
                        <li><a href="~/Home/category" title="RENOVATION">RENOVATION</a></li>
                        <li><a href="~/Home/category" title="REPAIRS">REPAIRS</a></li>
                        <li><a href="~/Home/category" title="SOLAR SYSTEMS">SOLAR SYSTEMS</a></li>
                        <li><a href="~/Home/category" title="TILING">TILING</a></li>
                    </ul>
                </div>
                <div class="column column-1-4">
                    <h6 class="box-header">Latest Posts</h6>
                    <ul class="blog small margin-top-30">
                        <li>
                            <a href="../../Home/post" title="What a Difference a Few Months Make" class="post-image">
                                <img src="images/samples/90x90/image_10.jpg" alt="">
                            </a>
                            <div class="post-content">
                                <a href="../../Home/post" title="What a Difference a Few Months Make">What a Difference a Few Months Make</a>
                                <ul class="post-details">
                                    <li class="date">April 25, 2015</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="../../Home/post" title="Kitchen and Living Room Renovation" class="post-image">
                                <img src="images/samples/90x90/image_07.jpg" alt="">
                            </a>
                            <div class="post-content">
                                <a href="../../Home/post" title="Kitchen and Living Room Renovation">Kitchen and Living Room Renovation</a>
                                <ul class="post-details">
                                    <li class="date">April 17, 2015</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row align-center padding-top-bottom-30">
            <span class="copyright">© Copyright 2015 <a href="http://themeforest.net/item/renovate-construction-renovation-template/11313006?ref=QuanticaLabs" title="Renovate Template" target="_blank">Renovate Template</a> by <a href="http://quanticalabs.com" title="QuanticaLabs" target="_blank">QuanticaLabs</a></span>
        </div>
    </div>
    <a href="#top" class="scroll-top animated-element template-arrow-up" title="Scroll to top"></a>
    <!--js-->
    <script type="text/javascript" src="/Content/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery-migrate-1.2.1.min.js"></script>
    <!--slider revolution-->
    <script type="text/javascript" src="/Content/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/Content/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.ba-bbq.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery-ui-1.11.4.custom.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.easing.1.3.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.transit.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.hint.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.costCalculator.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.parallax.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.qtip.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.blockUI.min.js"></script>
    <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="/Content/js/main.js"></script>
    <script type="text/javascript" src="/Content/js/odometer.min.js"></script>
      

   

</html>
